
html,
body {
  width: 100%;

  font-family: Georgia;
  color: #353535;

  > section {
    width: 100%;

    display: flex;
    justify-content: center;
    align-items: center;

    &:not(:last-child) {
      border-bottom: 1px solid lightGray;
    }

    > .section-content {
      display: flex;
      flex-flow: row;
      justify-content: space-between;

      max-width: 50%;

      &.section-content-img {
        div {
          width: 47.5%;

          &.img {
            img {
              height: auto;
            }
          }

          &.info {
            > * {
              margin: 5px 0;
            }
          }
        }
      }

      @media (max-width: 600px) {
        &.section-content-img {
          .info {
            width: 100%;
          }

          .img {
            display: none;
          }
        }
      }
    }
  }
}

h1 {
  font-size: 40px;
}

h2 {
  font-size: 30px;
}

ul {
  list-style: square;
  list-style-position: inside;
}

p {
  a {
    font-style: italic;
  }
}

a {
  cursor: pointer;

  &:hover {
    text-decoration: underline;
  }
}
