
@font-face {
  font-family: "Vulf Sans";
  src: url("../assets/fonts/Vulf-Sans/VulfSans-Light.otf");
}

@font-face {
  font-family: "Vulf Sans";
  src: url("../assets/fonts/Vulf-Sans/VulfSans-Italic.otf");
  font-style: italic;
}

@font-face {
  font-family: "Vulf Sans";
  src: url("../assets/fonts/Vulf-Sans/VulfSans-Regular.otf");
  font-weight: bold;
}

@font-face {
  font-family: "Vulf Sans";
  src: url("../assets/fonts/Vulf-Sans/VulfSans-BoldItalic.otf");
  font-style: italic;
  font-weight: bold;
}
